@font-face {
    font-family: Roberto;
    src: url(Roboto-Regular.ttf);
}
body{
    min-height: 100vh;
    display:flex;
    font-family: 'Roberto';
    flex-direction: column;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}

/*Styling for Head Box */

.head{
    background-color: #1F2937;
    color: #F9FAF8;
}
.header{
    display:flex;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 100px;
}
.header .left-links{
    margin-right: auto;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.header .right-links{
    display:flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header .right-links li{
    padding: 16px;
    display:flex;
    align-items: center;
}
.content-top{
    display: flex;
    margin: 0px 64px 0px 64px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px
}
.content-top .left{
    width: 500px;
    margin-right: auto;
    padding-bottom: 16px;
}
.content-top .left .main-text{
    font-size: 48px;
    font-weight: bolder;
}
.sub-text{
    font-size: 18px;
    color:#E5E7EB;
}
.content-top .left button{
    padding: 10px 20px 10px 20px;
    background-color: #3883F6;
    color: #F9FAF8;
    border: #E5E7EB;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}
.content-top img{
    border-radius: 25px;
}

/* Info Box */

.info{
    margin-bottom: 100px;
}
.info .title{
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
}


.info .images img{
    width: 500px;
    border-radius: 25px;
}
.top,
.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 16px;

}

.pom1,
.pom2,
.pom3,
.pom4{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pom1 p,
.pom2 p,
.pom3 p,
.pom4 p{
    display: flex;
    justify-content: center;
}

/* Inspiring Quote */

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote .text{
    padding: 50px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

/*Call to Action*/
.call-box{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 200px 100px 200px;
    background-color: #3883F6;
    border-radius: 25px;
    padding: 25px
}
.paragraph-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.paragraph-sub-text{
    font-size: 18px;
    color: #E5E7EB;
}
.call-box p{
    margin: 0px;
}
#sign-up-button{
    padding: 10px 20px 10px 20px;
    background-color: #3883F6;
    color: #F9FAF8;
    border: #E5E7EB;
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
}

/*Footer*/

.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 50px;
}